config MMIX_VIRT
    bool
    default y
    depends on MMIX
    select DEVICE_TREE
    select EDU
    select SERIAL_MM
    select FRAMEBUFFER
    select GOLDFISH_RTC
    select MSI_NONBROKEN
    select PCI_BRIDGE
    select PCIE_PCI_BRIDGE
    select PCIE_PORT
    select PCI_EXPRESS_GENERIC_BRIDGE
    select PCI_TESTDEV
    select PFLASH_CFI01
    select VIRT_CTRL
    select VIRTIO_MMIO
    select WDT_SBSA
